.Xil/

*/petalinux/project-spec/configs/config.old
*/petalinux/project-spec/configs/rootfs_config.old
*/petalinux/project-spec/hw-description/*
!*/petalinux/.petalinux/hw-description/metadata
*/petalinux/.petalinux/*
!*/petalinux/.petalinux/metadata
*/petalinux/project-spec/meta-plnx-generated/
*/petalinux/components/plnx_workspace
*/petalinux/components/yocto
*/petalinux/build/
*/petalinux/images/linux/

*/vivado/*_xsa.tcl
*/vivado/*_202110_1
*/vivado/*.xsa
*/vivado/*.jou
*/vivado/*.log

*/platform_repo/
